.slider1 {
    border: 1px solid black;
    height: 250px;
    margin: auto;
    position: relative;
    width: 70%;
    display: grid;
    place-items: center;
    overflow: hidden;
  }
  .slide-track1 {
    display: flex;
    width: calc(250px * 10);
    animation: scroll 40s linear infinite;
  }
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-250px * 5));
    }
  }
  
  .slide1 {
    height: 200px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    paint-order: 100px;
  }
  .slide1 > img {
    width: 62%;
    transition: transform 2s;
  }
  .slide1 > img:hover {
    transform: translateZ(20px);
  }
  
  .slider1::before,
  .slider1::after {
    background: linear-gradient(
      to right,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    );
    content: "";
    height: 100%;
    position: absolute;
    width: 15%;
    z-index: 2;
  }
  .slider1::before {
    left: 0;
    top: 0;
  }
  .slider1::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }
  