.haircare_title {
  height: 50px;
  padding: 0.5rem;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
.haircare_title_head {
  font-size: 35px;
  text-decoration: underline solid pink;
  color: black;
}
.article_start_haircare {
  /* border: 2px solid red; */
  font-size: 32px;
  letter-spacing: 1.1px;
  width: 90%;
  margin: auto;
  margin-top: 2rem;

}
.article_start_haircare > img {
  margin-top: 0.5rem;
  width: 50%;
}
.article_body_hair {
    width: 90%;
  /* border: 2px solid teal; */
  justify-content: center;
  letter-spacing: 1.1px;
  /* display: flex; */
  margin: auto;
}
#about_article {
  color: tomato;
  margin-top: 1rem;
}
.list_article_hair {
  /* border: 2px solid red; */
  font-size: 20px;
  width: 70%;
  justify-content: left;
  margin: auto;
}
.article_body_hair_desc {
  /* border: 1px solid black; */
  width: 70%;
  justify-content: start;
  margin: auto;
  margin-top: 1rem;
}
.article_body_hair_desc > h3 {
  font-size: 28px;
  color: tomato;
}
