.navmain {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  width: 100%;
position: fixed;
width: 100%;
top:0px;
background-color: inherit;
z-index: 1;
}
.navchild {
  width: 1280px;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.menulistul {
  font-size: 16px;
  width: 1280px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  margin: auto;
  list-style-type: none;
  padding: 10px 0px 20px 0px;
}
.menulistul1{

  display: none;

}

.menulistul > li {
  cursor: pointer;
}
.link {
  text-decoration: none;
  color: inherit;
}
.ulpartition {
  color: #fe5c74;
}
.navchild img {
  height: 33px;
}
