/* --------------------------------head img   started ---------------------------------------*/
.homepromomain {
  width: 100%;
  /* border-top: 1px solid red; */
    margin-top: 85px;
}
.hpchild {
  width: 1280px;
  height: auto;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.hpchild div {
  width: 25%;
}
img:hover {
  opacity: 0.8;
}
/* --------------------------------head img   ends ---------------------------------------*/
/* --------------------------------social bar bar started ---------------------------------------*/
.social {
  width: 1280px;
  margin: 10px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.custmain {
  width: 416px;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  font-weight: bold;
  margin: 20px auto;
}
.custom {
  background-color: #3b59a6;
  width: 219px;
  height: 50px;
  /* color: white; */
  font-size: 16px;
  font-weight: bold;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.custom1 {
  background-color: #bd0f1c;
  width: 219px;
  height: 50px;
  /* color: white; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.custom2 {
  background-color: #da4e91;
  /* color: white; */
  width: 219px;
  height: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.custom::after {
  content: "";
  position: absolute;
  left: 170px;
  top: -50px;
  width: 0px;
  height: 0;
  border: 50px solid transparent;
  border-bottom: 50px solid #ebebeb;
  border-right: 0px solid transparent;
}
.custom1::after {
  content: "";
  position: absolute;
  left: 170px;
  top: -50px;
  width: 0px;
  height: 0;
  border: 50px solid transparent;
  border-bottom: 50px solid #ebebeb;
  border-right: 0px solid transparent;
}
.custom2::after {
  content: "";
  position: absolute;
  left: 170px;
  top: -50px;
  width: 0px;
  height: 0;
  border: 50px solid transparent;
  border-bottom: 50px solid #ebebeb;
  border-right: 0px solid transparent;
}
.title {
  color: #3b59a6;
  width: 170px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebebeb;
  cursor: pointer;
}
.title1 {
  color: #bd0f1c;
  width: 170px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebebeb;
  cursor: pointer;
}
.title2 {
  color: #da4e91;
  width: 170px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebebeb;
  cursor: pointer;
}
/* --------------------------------social bar ended ---------------------------------------*/
/* --------------------------------whitebg   grid started ----------------------------------*/
.whiteBggrid {
  display: flex;
  flex-direction: column;
  width: 1280px;
  row-gap: 50px;
  margin: 0 auto;
}
.bigimghead {
  display: flex;
  gap: 30px;
  width: 100%;
}
.whiteBggrid > p {
  font-weight: 400;
  font-size: 35px;
  /* color: black; */
  margin: 30px auto -10px auto;
  border-bottom: 2px solid #fe5c74;

  padding: 10px;
}
.bigimghead div:last-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
}
.manimg {
  width: 70%;
}
.manimg img {
  border-radius: 20px;
  width: 100%;
}
.manimgheaddata {
  width: 30%;
}
.flex3img {
  display: flex;
  gap: 20px;
}
.bigimghead div:last-child span {
  color: #fe5c74;
  font-size: 14px;
}
.flex3imgChild {
  width: 100%;
}
.flex3imgChild>img{
  border-radius: 10px;
}
.img3escription {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
}
.img3escription span {
  color: #fe5c74;
  font-size: 14px;
}
.iteam6 {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fe5c74;
  font-size: 14px;
}
/* --------------------------------whitebg   grid ends ---------------------------------------*/
/*--------------------------- pink bg componenet start ------------------------ */
.pinkmain {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #fe5c74;
}
.pinkchild {
  width: 1280px;
  display: flex;
  flex-direction: column;

  margin: auto auto 50px auto;
}
.pinkchild div {
  width: 100%;
}

.pinkchild > p {
  font-weight: 400;
  font-size: 35px;
  /* color: rgb(255, 255, 255); */
  margin: 30px auto 35px auto;
  border-bottom: 2px solid #ffffff;

  padding: 10px;
}
.pinkfirst {
  display: flex;
}
.pinkfirst img {
  width: 60%;
  border-radius: 20px;
}
.pinkfirst div {
  width: 40%;
}
.pinkimg1desc {
  display: flex;
  height: 100%;
  margin: auto;
  margin-left: -50px;
  border-radius: 10px;
  padding: 30px;
  background-color: white;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  color: #000000;
  position: relative;
}

.pinkimg1desc > span {
  font-size: 13px;
  color: #fe5c74;
}
p {
  letter-spacing: 0.5px;
}
.pinkimg1desc > p {
  line-height: 26px;
  letter-spacing: 0.5px;
}

.pinkimg1desc > P:first-child {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: -6px;
}
.pinkbtmdiv {
  display: flex;
  width: 1280px;
  justify-content: center;
  margin: auto;
  gap: 25px;
  margin-bottom: 50px;
}
.pinkbtmchildren {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: left;
}
.pinkbtmchildren > div {
  background-color: white;
  color: black;
  position: relative;
  border-radius: 10px;
  margin-left: -90px;
  padding: 10px;
  font-size: 21px;
  font-weight: 500;
}
.head2pinpp {
  margin-bottom: 0px;
}
.pinkbtmchildren span {
  font-size: 13px;
  font-weight: bold;
  color: #fe5c74;
}
.learnmore {
  display: flex;
  width: 1280px;
  margin: auto;
  justify-content: flex-end;
  margin-bottom: 50px;
  color: white;
}
/*--------------------------- pink bg componenet end ------------------------ */
/*--------------------------- Inpress componenet start ------------------------ */
.inpressmain {
  width: 100%;
  background-color: #fe5c74;
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}
.inphead {
  display: flex;
  margin: 50px auto;
  font-size: 35px;
  font-weight: 500;
  color: inherit;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #ffffff;
}
.inpcontaint {
  width: 1280px;
  justify-content: space-between;
  align-items: center;
  margin: auto auto 50px auto;
  display: flex;
  gap: 25px;
}
.inpcontaint div {
  background-color:white ;  
color: #000000;
  width: 33.3%;
  height: 170px;
  border-radius: 8px;
  margin-bottom: 60px;
  padding: 20px 10px;
}
.inpcontaint div p {
  font-size: 22px;
  text-align: center;
}
/*--------------------------- Inpress componenet end ------------------------ */

/*--------------------------- MEDICAL REVIEWERS start  ------------------------ */
.medreviews {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}
.medreviews button {
  margin: auto;
  padding: 20px 40px;
  color: white;
  background-color: #fe5c74;
  border: none;
  border-radius: 3px;
  font-size: 18px;
  cursor: pointer;
}
.medreviewchild {
  margin: auto;
  width: 1280px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 110px);
  gap: 40px;

  margin-bottom: 50px;
}
.medreviewchild div {
  display: flex;
  gap: 15px;
}
.medreviewchild div div {
  display: flex;
  flex-direction: column;
  justify-content: left;
  text-align: left;
}
.medreviewchild div div h2 {
  margin-bottom: -20px;
  color: #fe5c74;
}
.medreviews > p:first-child {
  font-weight: 400;
  font-size: 35px;
  /* color: rgb(0, 0, 0); */
  margin: 30px auto 35px auto;
  border-bottom: 2px solid ;
}
.meddisccl {
  font-weight: 400;
  font-size: 21px;
}

/*--------------------------- MEDICAL REVIEWERS ends  ------------------------ */

/*--------------------------- TESTIMONIALS start  ------------------------ */
.testimonials {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  background-color: #fe5c74;
}
.testimonialschild {
  width: 1280px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
  border-radius: 5px;
  background-color: #ffffff;
  color: #000000;
  margin-bottom: 50px;
  padding: 10px;
}
.testimonials > p {
  display: flex;
  margin: 50px auto;
  font-size: 35px;
  font-weight: 500;
  color: white;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #ffffff;
}
.testichildsindivdls {
  margin-top: 20px;
}
.testichildsindivdls h2 {
  color: #fe5c74;
}
.testichildsindivdls p {
  font-style: italic;
  line-height: 25px;
  font-family: poppins;
}

/*--------------------------- TESTIMONIALS ends  ------------------------ */
