.footmain {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 330px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  margin: auto;
  /* background-color: #f9f9f9; */
    margin-top: 30px;
}

.footerContainer {
  width: 1280px;
  height: 220px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: 1px solid rgb(1, 110, 156); */
}
.copyrightbar {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: #e6e6e6; */
  align-items: center;
}
.copyrightbar span {
  color: #fe5c74;
}
.copyrightbar p:first-child {
  font-size: 18px;
  /* margin-bottom: -1px; */
}
.copyrightbar p:last-child {
  font-size: 13px;
  padding: 0px 5px 0px 5px;
}

.divp {
  width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footerContainer > div {
  /* border: 1px solid rgb(174, 209, 18);  */
  width: 25%;
  /* color: rgb(34, 34, 34); */
}
.footerdivfirst {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 0px;
  row-gap: 10px;
}
.footerdivfirst li {
  list-style-type: none;
  cursor: pointer;
}
.sistercompdiv {
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 0px;
  row-gap: 10px;
}
.sistercompdiv li {
  list-style-type: none;
  font-size: 16px;
  cursor: pointer;
}
.follow {
  display: flex;
  justify-content: center;
  gap: 25px;
  font-size: 16px;
}
